body{
    width: auto;
}
#blog_message h2{
    width: 90%;
    margin: 10px auto;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px dashed #ccc;
}
#blog_message dl{
    width: 90%;
    margin: 0 auto;
}
#blog_message dl dd{
    margin: 10px 0;
}
#blog_message dl dd input.text{
    width: 180px;
    height: 19px;
    background: #fff;
    border: 1px dashed #ccc;
}
#blog_message dl dd input.yzm{
    width: 60px;
}
#blog_message dl dd textarea{
    width: 100%;
    height: 120px;
    overflow-y: scroll;
}
#blog_message dl dd img#code{
    position: relative;
    top: 8px;
    cursor: pointer;
}
#blog_message dl dd input.submit{
    width: 100px;
    height: 40px;
    background: #d2ddcd;
    font-size: 15px;
    color: #484848;
    cursor: pointer;
}
#blog_message dl dd select{
    width: 50px;
}
#blog_message dl dd select.flower{
    background: url("../../image/x1.gif") no-repeat left center;
    padding: 0 0 0 20px;
}
#blog_message dl dd select option{
    background: url("../../image/x1.gif") no-repeat left center;
    padding: 0 0 0 20px;
}


