#login{
    width: auto;
    height: 300px;
    border: 1px solid #ccc;
    font-size: 12px;
    text-align: center;
}
#login h2{
    font-size: 14px;
    margin: 0 0 0 0;
}
#login dt{
    margin: 10px 0 ;

}
#login dl dd{
    color: #5e5e5e;
    margin: 0 0 10px 0;
}
#login dl dd img#code{
    position: relative;
    top: 5px;
    cursor: pointer;
}

#login dl dd input.btn{
    width: 50px;
    height: 40px;
    margin: 6px 5px 0 15px;
    border: 1px solid #ccc;
    cursor: pointer;
    color: #5e5e5e;

}
