
#member #member_main{
    width: 590px;
    height: 500px;
    margin: 15px;
    border: 1px dashed #999;
    float: right;
}
#member #member_main dl{
    width: 500px;
    margin: 15px auto;
    font-size: 14px;
}
#member #member_main dl dd{

    padding:10px 0;
    border-bottom: 1px dashed #999;
}